{% extends "layout.html" %}

{% block main %}
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item active">
                    <a class="nav-link nav_items" href="/"><i class="fas fa-arrow-left"></i></a>
        </li>
    </ul>
</nav>

<div class="container" >
    <div class="jumbotron" style="background-color:white;">
        <div class="card">
             <div class="card-header" style="text-align: center;">Bu saz öwrenijileri üçin niýetlenen 275 sözden ybarat saz
                 adalgalarynyň (terminleriniň) sözlügidir. Sözlük Türkmenistanyň il ýaşulysy Babanow Suhan tarapyndan topdandy we
                 taýýarlanyldy.
                 <br> <img src="static/author.jpg" class="center" style="width:150px;height:170px;> </div>
            <div class="card-body">Peýdalanylan edebiýat:
<br>1.    Mugallymçylyk  mekdepleri   üçin  okuw  maksatnamalary. Aýdym-saz  we  ony  okatmagyň  usulyýeti  „Başlangyç  synplarda  okatmak“ ugrunyň  ähli  hünärleri  üçin,Aşgabat, 2009.
<br>2.    Türkmenistanyň  orta  mekdepleriniň  1 – 5-nji  klaslary  üçin  aýdym-sazdan okuw  maksatnamalary,  Aşgabat, „Magaryf“,  2000.
<br>3.     Dimitriýewa  L.G.,Çernoiwanenko  Metodika  muzykalnogo  wospitaniýa  w  şkole,  Moskwa, „Prosweşeniýe“, 1989..
<br>4.    Alyýew   B. Aýdym-saz  we  ony  okatmagyň  usulyýeti. Orta hünär  mekdepleri   üçin  synag  okuw kitaby. – Aşgabat,  Türkmen  döwlet  neşirýat  gullygy,  2010.
<br>5.    Amangeldiýew  H.   Aýdym-saz.  1-nji  synp.   Aşgabat, 2009.
<br>6.    Amangeldiýew  H.   Aýdym-saz.  2-nji synp.   Aşgabat,   2009.
<br>7.    Amangeldiýew  H.   Aýdym-saz.  3-nji synp.   Aşgabat,  2009.
<br>8.    Slowar  russkogo  ýazyka,  Moskwa „Russkiý  ýazyk“, 1980.
<br>9.    Ostrowskiý A. L.  Kurs teorii  muzyki,  Izdatelstwo „Muzyka“,  Leningrad-1978.
<br>10.  Fridkin G.  A.  Muzykalnaýa  gramota.  Moskwa-1970.</div>
        </div>
    </div>
</div>

{% endblock %}